{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EditAvailableObjectsPanelView</title>
  <link rel="stylesheet" href="{% static 'accounts/css/EditAvailableObjectsPanelView__style.css' %}">
  <link rel="stylesheet" href="{% static 'global.css' %}">
  <link rel="stylesheet" href="{% static 'accounts/css/EditAvailableObjectsPanelView__draw__style_style.css' %}">
  {#  <link rel="stylesheet" href="{% static 'accounts/css/Booking-time.css' %}">#}
</head>
<body>
<div class="wrapper">
  <header>
    <div class="container"
         style="padding: 0 !important; margin: 0 !important;
                    max-width: 100% !important;">
      <div class="account-header">
        <div>
          <a href="http://google.com"><h1 style="font-weight: 500;">Bronyumo.ua</h1></a>
        </div>
        <div class="account-nav">
          <button class="button-sm__EntrepreneurPanelView" style="border: none; height: 1.9rem">
            <img style="height: 1.9rem;"
                 src="{% static 'accounts/images/flag-icon.png' %}"
                 alt="flag-icon">
          </button>
          <button class="button-sm-flg__EntrepreneurPanelView">
            <img src="{% static 'accounts/images/bell-icon.svg' %}"
                 alt="user-icon"
                 style="width: 24px; height: 24px;
                            position: absolute; right: 6.4px; top: 6.4px;">
            <img src="{% static 'accounts/images/red-circle-icon.png' %}"
                 alt="red-circle-icon"
                 style="width: 8px; height: 8px;
                            position: absolute; right: 7px; top: 7px;">
          </button>
          <button class="button-md">
            <img style="width: 1.56rem; border-radius: 2px"
                 src="{% static 'accounts/images/restaurant-thumb-sm.jpeg' %}"
                 alt="restaurant-thumbnail">
            {{ company_name }}
            <img style="width: 1.56rem;" src="{% static 'accounts/images/dropdown-icon.png' %}" alt="dropdown-icon">
          </button>
        </div>
      </div>
    </div>
    <div class="section-floor-settings">
      <button class="button-lg" id="shareBookingLink_1234" onclick="shareBookingLinkManager.openBookingLink()"
              style="border-color: #8E8E8E; color: dimgray; font-weight: bold">
        <img src="{% static 'accounts/images/email-vector.png' %}" alt="email-vector">
        SHARE BOOKING LINK
      </button>
      <button type="button"
              id="openModalBtn"
              class="button-lg"
              style="border-color: #FF1F25;
                              color: #FF1F25;
                              font-weight: bold"
              onclick="deleteLayout">
        <img src="{% static 'accounts/images/trashbin-vector.png' %}" alt="email-vector">
        DELETE THE LAYOUT
      </button>
      <button class="button-lg"
              id="add-booking-button"
              style="border-color: #206CFC;
                              color: #206CFC;
                              font-weight: bold"
              onclick="bookingManager.createOverlay()">
        <img src="{% static 'accounts/images/plus-vector.png' %}" alt="email-vector">
        ADD FOR BOOKING
      </button>
      <button class="button-lg" style="border-color: #FF9D30; color: #FF9D30; font-weight: bold"
              onclick="openWorkingHoursModal();">
        <img src="{% static 'accounts/images/time.png' %}" alt="email-vector">
        UPDATE BOOKING TIME
      </button>
      <button class="button-lg"
              style="border-color: #56BA28;
                               color: #56BA28;
                               font-weight: bold"
              onclick="saveBookingObjects()">
        <img src="{% static 'accounts/images/accept-vector.png' %}" alt="email-vector">
        SAVE
      </button>
    </div>
  </header>

  <div class="section-floor-layout">
    <img class="section-floor-layout-floor-image"
         src="{% static 'gif/raccoon-dance.gif' %}"
         alt="test-floor-image"
    >
  </div>
</div>

<!-- Modal window 1 Set New Layout Image Dialog-->
<div class="new-layout-img__backdrop new-layout-img__is-hidden" id="modal1">
  <div class="new-layout-img__modal">
    <button type="button" class="new-layout-img__close-btn" id="closeModal1">
      <svg class="new-layout-img__close-btn-icon" width="8" height="8">
        <use href="{% static 'accounts/images/symbol-defs-close.svg' %} #icon-close-modal"></use>
      </svg>
    </button>
    <div class="new-layout-img__text">
      <h2 class="new-layout-img__title"><span>Upload a new layout image </span><span class="new-layout-img__title-up">AND</span>
      </h2>
      <button class="new-layout-img__btn" id="openModal2Btn">
        <div class="new-layout-img__btn-text">
          Save the marked table boundaries
        </div>
      </button>
      <button class="new-layout-img__btn" id="deleteAllBtn">
        <div class="new-layout-img__btn-text">
          Delete all marked table boundaries and future reservations for them
        </div>
      </button>
    </div>
  </div>
</div>

<!-- Modal window 2 Set New Layout Image Confirmation Dialog 1-->
<div class="new-layout-img__backdrop new-layout-img__is-hidden" id="modal2">
  <div class="new-layout-img__modal">
    <div class="new-Lyt-Img-Conf-Dlg__text">
      <h2 class="new-layout-img__title">Are you sure you want to upload a new layout image <strong>and</strong> save the
        marked table boundaries?</h2>
      <button class="new-Lyt-Img-Conf-Dlg__btn1" id="option1Btn">
        <div class="new-layout-img__btn-text">Confirm</div>
      </button>
      <button class="new-Lyt-Img-Conf-Dlg__btn2" id="cancelOptionBtn">
        <div class="new-layout-img__btn-text">Cancel</div>
      </button>
    </div>
  </div>
</div>

<!-- Modal window 3 Set New Layout Image Confirmation Dialog 2-->
<div class="new-layout-img__backdrop new-layout-img__is-hidden" id="modal3">
  <div class="new-layout-img__modal">
    <div class="new-Lyt-Img-Conf-Dlg__text">
      <h2 class="new-layout-img__title3">
        Are you sure you want to upload a new layout image <strong>and </strong>delete all marked table boundaries and
        future reservations for them?
      </h2>
      <button class="new-Lyt-Img-Conf-Dlg__btn1" id="option1BtnModal3">
        <div class="new-layout-img__btn-text">Confirm</div>
      </button>
      <button class="new-Lyt-Img-Conf-Dlg__btn2" id="cancelDeleteBtn">
        <div class="new-layout-img__btn-text">Cancel</div>
      </button>
    </div>
  </div>
</div>

<!-- Подтверждение удаления -->
<div class="new-layout-img__backdrop new-layout-img__is-hidden" id="modalDeleteObject">
  <div class="new-layout-img__modal">
    <div class="new-Lyt-Img-Conf-Dlg__text">
      <h2 class="new-layout-img__title3">
        Do you want to delete the selected object?
      </h2>
      <button class="new-Lyt-Img-Conf-Dlg__btn1" id="openFinalDeleteObject">
        <div class="new-layout-img__btn-text">Yes</div>
      </button>
      <button class="new-Lyt-Img-Conf-Dlg__btn2" id="canselDeleteObject">
        <div class="new-layout-img__btn-text">Cancel</div>
      </button>
    </div>
  </div>
</div>

<!-- Финальное подтверждение -->
<div class="new-layout-img__backdrop new-layout-img__is-hidden" id="modalFinalDelete">
  <div class="new-layout-img__modal">
    <div class="new-Lyt-Img-Conf-Dlg__text">
      <h2 class="new-layout-img__title3">
        Are you sure you want to delete the selected object?
      </h2>
      <button class="new-Lyt-Img-Conf-Dlg__btn1" id="deleteFinalDelete"
              onclick="bookingManager.deleteSelectedOverlay()">
        <div class="new-layout-img__btn-text">Confirm</div>
      </button>
      <button class="new-Lyt-Img-Conf-Dlg__btn2" id="closeModalFinalDelete">
        <div class="new-layout-img__btn-text">Cancel</div>
      </button>
    </div>
  </div>
</div>

<!-- Модальное окно для отображения ссылки -->
<div class="new-layout-img__backdrop new-layout-img__is-hidden" id="modalShareLink_1234">
  <div class="new-layout-img__modal">
    <button type="button" class="new-layout-img__close-btn" id="closeModalShareLink_1234">
      <svg class="new-layout-img__close-btn-icon" width="8" height="8">
        <use href="{% static 'accounts/images/symbol-defs-close.svg' %} #icon-close-modal"></use>
      </svg>
    </button>
    <div class="new-layout-img__text">
      <h2 class="new-layout-img__title">Share this link with your clients!</h2>
      <p>Copy the link below and share it with your clients:</p>
      <input type="text" id="bookingLinkInput_1234" value="" readonly>
      <button class="new-Lyt-Img-Conf-Dlg__btn2" id="copyLinkButton_1234" onclick="copyBookingLink()">
        <div class="new-layout-img__btn-text" style="white-space: nowrap;">Copy Link</div>
      </button>
    </div>
  </div>
</div>

<!-- Установка времени работы для каждого дня недели -->
<div class="new-layout-img__backdrop new-layout-img__is-hidden" id="modalSetWorkingHours">
  <div class="new-layout-img__modal">
    <div class="new-Lyt-Img-Conf-Dlg__text">
      <h2 class="new-layout-img__title3">
        Set Working Hours
      </h2>
      <form class="dialog-add-for-booking_forms" method="POST">
        <!-- понедельник -->
        <div class="dialog-add-for-booking_form-group">
          <label class="dialog-add-for-booking_label" for="dialog-add-for-booking_monday_from">monday <span
              class="dialog-add-for-booking_red-star">*</span></label>
          <div class="dialog-add-for-booking_input-group">
            <input type="time" class="dialog-add-for-booking_input" id="dialog-add-for-booking_monday_from"
                   name="dialog-add-for-booking_monday_time_from" value="08:00">
            <span class="time-separator">-</span>
            <input type="time" class="dialog-add-for-booking_input" id="dialog-add-for-booking_monday_to"
                   name="dialog-add-for-booking_monday_time_to" value="22:00">
            <label class="dialog-add-for-booking_checkbox-label">
              <input type="checkbox" id="dialog-add-for-booking_monday_closed" name="monday_closed"
                     onchange="toggleInput('monday')">
              Closed
            </label>
          </div>
        </div>

        <!-- вторник -->
        <div class="dialog-add-for-booking_form-group">
          <label class="dialog-add-for-booking_label" for="dialog-add-for-booking_tuesday_from">tuesday <span
              class="dialog-add-for-booking_red-star">*</span></label>
          <div class="dialog-add-for-booking_input-group">
            <input type="time" class="dialog-add-for-booking_input" id="dialog-add-for-booking_tuesday_from"
                   name="dialog-add-for-booking_tuesday_time_from" value="08:00">
            <span class="time-separator">-</span>
            <input type="time" class="dialog-add-for-booking_input" id="dialog-add-for-booking_tuesday_to"
                   name="dialog-add-for-booking_tuesday_time_to" value="22:00">
            <label class="dialog-add-for-booking_checkbox-label">
              <input type="checkbox" id="dialog-add-for-booking_tuesday_closed" name="tuesday_closed"
                     onchange="toggleInput('tuesday')">
              Closed
            </label>
          </div>
        </div>

        <!-- среда -->
        <div class="dialog-add-for-booking_form-group">
          <label class="dialog-add-for-booking_label" for="dialog-add-for-booking_wednesday_from">wednesday <span
              class="dialog-add-for-booking_red-star">*</span></label>
          <div class="dialog-add-for-booking_input-group">
            <input type="time" class="dialog-add-for-booking_input" id="dialog-add-for-booking_wednesday_from"
                   name="dialog-add-for-booking_wednesday_time_from" value="08:00">
            <span class="time-separator">-</span>
            <input type="time" class="dialog-add-for-booking_input" id="dialog-add-for-booking_wednesday_to"
                   name="dialog-add-for-booking_wednesday_time_to" value="22:00">
            <label class="dialog-add-for-booking_checkbox-label">
              <input type="checkbox" id="dialog-add-for-booking_wednesday_closed" name="wednesday_closed"
                     onchange="toggleInput('wednesday')">
              Closed
            </label>
          </div>
        </div>

        <!-- четверг -->
        <div class="dialog-add-for-booking_form-group">
          <label class="dialog-add-for-booking_label" for="dialog-add-for-booking_thursday_from">thursday <span
              class="dialog-add-for-booking_red-star">*</span></label>
          <div class="dialog-add-for-booking_input-group">
            <input type="time" class="dialog-add-for-booking_input" id="dialog-add-for-booking_thursday_from"
                   name="dialog-add-for-booking_thursday_time_from" value="08:00">
            <span class="time-separator">-</span>
            <input type="time" class="dialog-add-for-booking_input" id="dialog-add-for-booking_thursday_to"
                   name="dialog-add-for-booking_thursday_time_to" value="22:00">
            <label class="dialog-add-for-booking_checkbox-label">
              <input type="checkbox" id="dialog-add-for-booking_thursday_closed" name="thursday_closed"
                     onchange="toggleInput('thursday')">
              Closed
            </label>
          </div>
        </div>

        <!-- пятница -->
        <div class="dialog-add-for-booking_form-group">
          <label class="dialog-add-for-booking_label" for="dialog-add-for-booking_friday_from">friday <span
              class="dialog-add-for-booking_red-star">*</span></label>
          <div class="dialog-add-for-booking_input-group">
            <input type="time" class="dialog-add-for-booking_input" id="dialog-add-for-booking_friday_from"
                   name="dialog-add-for-booking_friday_time_from" value="08:00">
            <span class="time-separator">-</span>
            <input type="time" class="dialog-add-for-booking_input" id="dialog-add-for-booking_friday_to"
                   name="dialog-add-for-booking_friday_time_to" value="22:00">
            <label class="dialog-add-for-booking_checkbox-label">
              <input type="checkbox" id="dialog-add-for-booking_friday_closed" name="friday_closed"
                     onchange="toggleInput('friday')">
              Closed
            </label>
          </div>
        </div>

        <!-- суббота -->
        <div class="dialog-add-for-booking_form-group">
          <label class="dialog-add-for-booking_label" for="dialog-add-for-booking_saturday_from">saturday <span
              class="dialog-add-for-booking_red-star">*</span></label>
          <div class="dialog-add-for-booking_input-group">
            <input type="time" class="dialog-add-for-booking_input" id="dialog-add-for-booking_saturday_from"
                   name="dialog-add-for-booking_saturday_time_from" value="08:00">
            <span class="time-separator">-</span>
            <input type="time" class="dialog-add-for-booking_input" id="dialog-add-for-booking_saturday_to"
                   name="dialog-add-for-booking_saturday_time_to" value="22:00">
            <label class="dialog-add-for-booking_checkbox-label">
              <input type="checkbox" id="dialog-add-for-booking_saturday_closed" name="saturday_closed"
                     onchange="toggleInput('saturday')">
              Closed
            </label>
          </div>
        </div>

        <!-- воскресенье -->
        <div class="dialog-add-for-booking_form-group">
          <label class="dialog-add-for-booking_label" for="dialog-add-for-booking_sunday_from">sunday <span
              class="dialog-add-for-booking_red-star">*</span></label>
          <div class="dialog-add-for-booking_input-group">
            <input type="time" class="dialog-add-for-booking_input" id="dialog-add-for-booking_sunday_from"
                   name="dialog-add-for-booking_sunday_time_from" value="08:00">
            <span class="time-separator">-</span>
            <input type="time" class="dialog-add-for-booking_input" id="dialog-add-for-booking_sunday_to"
                   name="dialog-add-for-booking_sunday_time_to" value="22:00">
            <label class="dialog-add-for-booking_checkbox-label">
              <input type="checkbox" id="dialog-add-for-booking_sunday_closed" name="sunday_closed"
                     onchange="toggleInput('sunday')">
              Closed
            </label>
          </div>
        </div>
      </form>
      <button class=" new-Lyt-Img-Conf-Dlg__btn1" onclick="closeWorkingHoursModal();">
        <div class="new-layout-img__btn-text">Save and close</div>
      </button>
    </div>
  </div>
</div>

<script>
  window.logoutIcon = "{% static 'accounts/images/logout-icon.png' %}";
  window.shareBookingLinkManager = null;
  window.workingHoursManager = null;
  window.booking_objects = {{ booking_objects|safe }};
  console.log(window.booking_objects)
</script>
<script src="{% static 'accounts/js/ShareBookingLinkManager.js' %}"></script>
<script src="{% static 'accounts/js/WorkingHoursManager.js' %}"></script>
<script src="{% static 'accounts/js/workingHoursModal.js' %}"></script>
<script src="{% static 'accounts/js/deleteObjectModal.js' %}"></script>
<script src="{% static 'accounts/js/modalManager.js' %}"></script>

<script src="{% static 'accounts/js/BookingManager.js' %}"></script>
<script src="{% static 'accounts/js/mapDataLoader.js' %}"></script>
<script src="{% static 'accounts/js/dropdownMenu.js' %}"></script>
<script src="{% static 'accounts/js/buttonClickLogger.js' %}"></script>

<script src="{% static 'accounts/js/save-booking-objects.js' %}"></script>

</body>
</html>
